<style>
    a {
        color: black;
        /* text-decoration: none; */
    }

    a:hover {
        background-color: black;
        color: white;
    }

    <% fill_color = Location.find(params[:location_id]).color %>

    .selected_fill:hover {
        background-color: <%= fill_color %>;
        /* height: 50px;
        width: 150px; */
        color: white;
        cursor: cell;
    }

</style>

<div align="center">
    <img src="http://ryanmeinzer.com/s/waldude-logo.png" alt="Waldude Logo" class="logo" height="210" background-color="transparent">
    <h2>🔍 <%= link_to "Find", shows_path, method: :get %> or ➕<%= link_to "Plan", plans_path, method: :get %></h2>
    Attendees of Show #<%= link_to @show.id, show_path(@show), method: :get %> at <%= Location.find(params[:location_id]).name %> of <%= @show.artist.name  %> on
    <%= @show.stage.name %> Stage at <%= @show.date_time.strftime("%B %e, %l:%M %p") %><br><br>

    <!-- if attendee has a plan at this show at this location -->
    <% if @plans.where(attendee_id: Attendee.last.id).exists? %>
        <!-- do nothing -->
    <!-- if attendee has a plan at this show at another location -->
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= link_to "Plan to be here", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find(params[:location_id])}, id: @show.plans.find_by(attendee_id: Attendee.last.id).id), method: :put, class: "selected_fill" %>
    <!-- if attendee does not have a plan at this show -->
    <% else %>
        <%= link_to "Plan to be here", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find(params[:location_id])}), method: :post, class: "selected_fill" %>
    <% end %>

</div>

<% @plans.each do |plan| %>
    <ul>
        <% if plan.attendee.name == Attendee.last.name %>
            <li><%= plan.attendee.name %> (you)</li>
        <% else %>
            <li><%= plan.attendee.name %> </li>
        <% end %>
    </ul>
<% end %>

