<style>
    a {
        color: black;
        /* text-decoration: none; */
    }

    a:hover {
        background-color: black;
        color: white;
    }

    <% fill_color = Location.find(params[:location_id]).color %>

    .selected_fill:hover {
        background-color: <%= fill_color %>;
        /* height: 50px;
        width: 150px; */
        color: white;
        cursor: cell;
    }

</style>

<div align="center">
    <a href="/">
    <img src="http://ryanmeinzer.com/s/waldude-logo.png" alt="Waldude Logo" class="logo" height="210" background-color="transparent">
    </a>
<% if session[:attendee_id] %>
    <h2>🔍 <%= link_to "Find", shows_path, method: :get %> or ➕<%= link_to "Plan", plans_path, method: :get %></h2>

    Attendees of Show #<%= @show.id %> at <%= Location.find(params[:location_id]).name %> of <%= @show.artist.name  %> on
    <%= @show.stage.name %> Stage at <%= @show.date_time.strftime("%B %e, %l:%M %p") %><br><br>

    <!-- if attendee has a plan at this show at this location -->
    <% if @plans.where(attendee_id: session[:attendee_id]).exists? %>
        <!-- do nothing -->
    <!-- if attendee has a plan at this show at another location -->
    <% elsif @show.plans.where(attendee_id: session[:attendee_id]).exists? %>
        ➕ <%= link_to "Plan to be here", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @show.id, location_id: Location.find(params[:location_id])}, id: @show.plans.find_by(attendee_id: session[:attendee_id]).id), method: :put, class: "selected_fill" %>
    <!-- if attendee does not have a plan at this show -->
    <% else %>
        ➕ <%= link_to "Plan to be here", plans_path(:plan => {attendee_id: session[:attendee_id], show_id: @show.id, location_id: Location.find(params[:location_id])}), method: :post, class: "selected_fill" %>
    <% end %>

</div>

<% @plans.each do |plan| %>
    <ul>
        <% if plan.attendee.name == Attendee.find(session[:attendee_id]).name %>
            <li><%= plan.attendee.name %> (you)</li>
        <% else %>
            <li><%= plan.attendee.name %> </li>
        <% end %>
    </ul>
<% end %>

<% else %>
<p>
    <a href="/auth/facebook">
        <img src="https://ryanmeinzer.com/s/facebook-login-button.png" alt="Login with Facebook" width="200" background-color="transparent">
    </a>
</p>
<% end %>

<div align="center">
    <h1>🔍 Find more of your friends by the saturation of each of the show's location colors (heatmaps).</h1>
    <img src="https://ryanmeinzer.com/s/how-to.png" alt="How To" width="200" background-color="transparent">
    <h1>➕ Plan where you'll be so your friends can find you at the show.</h1>
</div>

<% unless session[:attendee_id] %>
<div align="center">
    <img src="https://ryanmeinzer.com/s/home-how-to.png" alt="Home How To" background-color="transparent">
</div>
<% end %>

<div align="center">
    <% if session[:attendee_id] %>
    <%= button_to "Logout", logout_path, method: :delete %>
    <% end %>
</div>