<style>
    a {
        color: black;
        /* text-decoration: none; */
    }

    a:hover {
        background-color: black;
        color: white;
    }
</style>

<div align="center">
    <img src="http://ryanmeinzer.com/s/waldude-logo.png" alt="Waldude Logo" class="logo" height="210" background-color="transparent">
<% if session[:attendee_id] %>
    <h2>🔍 <%= link_to "Find", shows_path, method: :get %> or ➕<%= link_to "Plan", plans_path, method: :get %></h2>
</div>

<p>
<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>
</p>

<h1>Shows</h1>

<%= form_for @show do |f| %>

    <%= f.label :artist_name, 'Artist Name' %>
    <%= f.text_field :artist_name, list: "artists_autocomplete" %>
    <datalist id="artists_autocomplete">
        <% Artist.all.each do |artist| %>
        <option value="<%= artist.name %>">
            <% end %>
    </datalist>

    <%= f.label :stage_name, 'Stage Name' %>
    <%= f.text_field :stage_name, list: "stages_autocomplete" %>
    <datalist id="stages_autocomplete">
        <% Stage.all.each do |stage| %>
        <option value="<%= stage.name %>">
            <% end %>
    </datalist>

    <%= f.label :date_time, 'Date & Time' %>
    <%= f.datetime_field :date_time %>

    <%= f.submit "Create Show" %>

<% end %> 

<% @shows.each do |show| %>
<ul>
    <li><%= link_to "Show ##{show.id} of #{show.artist.name} on #{show.stage.name} Stage at #{show.date_time.strftime("%B %e, %l:%M %p")}", show_path(show), method: :get %></li>
</ul>
<% end %>

<% else %>
<p>
    <a href="/auth/facebook">
        <img src="https://ryanmeinzer.com/s/facebook-login-button.png" alt="Login with Facebook" width="200"
            background-color="transparent">
    </a>
</p>
<% end %>

<div align="center">
    <h1>Find more of your friends by the saturation of each of the show's location colors (heatmaps).</h1>
    <img src="https://ryanmeinzer.com/s/how-to.png" alt="How To" width="200" background-color="transparent">
    <h1>Plan where you'll be so your friends can find you at the show.</h1>
</div>

<div align="center">
    <% if session[:attendee_id] %>
    <%= button_to "Logout", logout_path, method: :delete %>
    <% end %>
</div>