<style>

    a {
        color: black;
        /* text-decoration: underline; */
    }

    a:hover {
        background-color: black;
        color: white;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        /* border: 3px solid black; */
    }

    .button_to {
        /* background-color: white; */
        height: 120px;
        padding: 5px;
        /* border: 1.2px solid black;
        outline: 3px solid black; */
    }

    .unselected_fill_1, .unselected_fill_2, .unselected_fill_3, .unselected_fill_4, .unselected_fill_5, .unselected_fill_6, .unselected_fill_7, .unselected_fill_8, .unselected_fill_9  {
        height: 100%;
        width: 100%;
        border: none;
        background-color: #FAFAFA;
        cursor: cell;
    }

    .unselected_fill_1:hover {
        background-color: Red;
        box-shadow: 0 0 50px Red;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_2:hover {
        background-color: Aqua;
        box-shadow: 0 0 50px Aqua;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_3:hover {
        background-color: SaddleBrown;
        box-shadow: 0 0 50px SaddleBrown;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_4:hover {
        background-color: DarkGreen;
        box-shadow: 0 0 50px DarkGreen;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_5:hover {
        background-color: Yellow;
        box-shadow: 0 0 50px Yellow;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_6:hover {
        background-color: Purple;
        box-shadow: 0 0 50px Purple;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_7:hover {
        background-color: DarkBlue;
        box-shadow: 0 0 50px DarkBlue;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_8:hover {
        background-color: DeepPink;
        box-shadow: 0 0 50px DeepPink;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_9:hover {
        background-color: DarkOrange;
        box-shadow: 0 0 50px DarkOrange;
        outline: none;
        cursor: cell;
    }

    <% if @show.locations.where(color: "Red").count >= 9 %>
        <% fill_1_opacity = 1 %>
    <% elsif @show.locations.where(color: "Red").count >= 6 %>
        <% fill_1_opacity = .6 %>
    <% else %>
        <% fill_1_opacity = .3 %>
    <% end  %>

    /* <% fill_1_opacity = @show.locations.where(color: "Red").count * 0.1 %> */

    .fill_1 {
        background-color: Red;
        /* color: Red; */
        opacity: <%= fill_1_opacity %>;
        height: 100%;
        width: 100%;
        border: none;
        cursor: zoom-in;
    }

    .fill_1:hover {
        box-shadow: 0 0 50px Red;
        /* color: white; */
        opacity: <%= fill_1_opacity %>;
        outline: none;
    }

    <% if @show.locations.where(color: "Aqua").count >= 9 %>
        <% fill_2_opacity = 1 %>
    <% elsif @show.locations.where(color: "Aqua").count >= 6 %>
        <% fill_2_opacity = .6 %>
    <% else %>
        <% fill_2_opacity = .3 %>
    <% end  %>

    /* <% fill_2_opacity = @show.locations.where(color: "Aqua").count * 0.1 %> */

    .fill_2 {
    background-color: aqua;
    /* color: aqua; */
    opacity: <%= fill_2_opacity %>;
    height: 100%;
    width: 100%;
    border: none;
    cursor: zoom-in;
    }

    .fill_2:hover {
        box-shadow: 0 0 50px aqua;
        /* color: white; */
        opacity: <%= fill_2_opacity %>;
        outline: none;
    }

    <% if @show.locations.where(color: "SaddleBrown").count >= 9 %>
        <% fill_3_opacity = 1 %>
    <% elsif @show.locations.where(color: "SaddleBrown").count >= 6 %>
        <% fill_3_opacity = .6 %>
    <% else %>
        <% fill_3_opacity = .3 %>
    <% end  %>

    /* <% fill_3_opacity = @show.locations.where(color: "SaddleBrown").count * 0.1 %> */

    .fill_3 {
    background-color: SaddleBrown;
    /* color: SaddleBrown; */
    opacity: <%= fill_3_opacity %>;
    height: 100%;
    width: 100%;
    border: none;
    cursor: zoom-in;
    }

    .fill_3:hover {
        box-shadow: 0 0 50px SaddleBrown;
        /* color: white; */
        opacity: <%= fill_3_opacity %>;
        outline: none;
    }

    <% if @show.locations.where(color: "DarkGreen").count >= 9 %>
        <% fill_4_opacity = 1 %>
    <% elsif @show.locations.where(color: "DarkGreen").count >= 6 %>
        <% fill_4_opacity = .6 %>
    <% else %>
        <% fill_4_opacity = .3 %>
    <% end  %>

    /* <% fill_4_opacity = @show.locations.where(color: "DarkGreen").count * 0.1 %> */

    .fill_4 {
    background-color: DarkGreen;
    /* color: DarkGreen; */
    opacity: <%= fill_4_opacity %>;
    height: 100%;
    width: 100%;
    border: none;
    cursor: zoom-in;
    }

    .fill_4:hover {
        box-shadow: 0 0 50px DarkGreen;
        /* color: white; */
        opacity: <%= fill_4_opacity %>;
        outline: none;
    }

    <% if @show.locations.where(color: "Yellow").count >= 9 %>
        <% fill_5_opacity = 1 %>
    <% elsif @show.locations.where(color: "Yellow").count >= 6 %>
        <% fill_5_opacity = .6 %>
    <% else %>
        <% fill_5_opacity = .3 %>
    <% end  %>

    /* <% fill_5_opacity = @show.locations.where(color: "Yellow").count * 0.1 %> */

    .fill_5 {
    background-color: Yellow;
    /* color: Yellow; */
    opacity: <%= fill_5_opacity %>;
    height: 100%;
    width: 100%;
    border: none;
    cursor: zoom-in;
    }

    .fill_5:hover {
        box-shadow: 0 0 50px Yellow;
        /* color: white; */
        opacity: <%= fill_5_opacity %>;
        outline: none;
    }

    <% if @show.locations.where(color: "Purple").count >= 9 %>
        <% fill_6_opacity = 1 %>
    <% elsif @show.locations.where(color: "Purple").count >= 6 %>
        <% fill_6_opacity = .6 %>
    <% else %>
        <% fill_6_opacity = .3 %>
    <% end  %>

    /* <% fill_6_opacity = @show.locations.where(color: "Purple").count * 0.1 %> */

    .fill_6 {
    background-color: Purple;
    /* color: Purple; */
    opacity: <%= fill_6_opacity %>;
    height: 100%;
    width: 100%;
    border: none;
    cursor: zoom-in;
    }

    .fill_6:hover {
        box-shadow: 0 0 50px Purple;
        /* color: white; */
        opacity: <%= fill_6_opacity %>;
        outline: none;
    }

    <% if @show.locations.where(color: "DarkBlue").count >= 9 %>
        <% fill_7_opacity = 1 %>
    <% elsif @show.locations.where(color: "DarkBlue").count >= 6 %>
        <% fill_7_opacity = .6 %>
    <% else %>
        <% fill_7_opacity = .3 %>
    <% end  %>

    /* <% fill_7_opacity = @show.locations.where(color: "DarkBlue").count * 0.1 %> */

    .fill_7 {
    background-color: DarkBlue;
    /* color: DarkBlue; */
    opacity: <%= fill_7_opacity %>;
    height: 100%;
    width: 100%;
    border: none;
    cursor: zoom-in;
    }

    .fill_7:hover {
        box-shadow: 0 0 50px DarkBlue;
        /* color: white; */
        opacity: <%= fill_7_opacity %>;
        outline: none;
    }

    <% if @show.locations.where(color: "DeepPink").count >= 9 %>
        <% fill_8_opacity = 1 %>
    <% elsif @show.locations.where(color: "DeepPink").count >= 6 %>
        <% fill_8_opacity = .6 %>
    <% else %>
        <% fill_8_opacity = .3 %>
    <% end  %>

    /* <% fill_8_opacity = @show.locations.where(color: "DeepPink").count * 0.1 %> */

    .fill_8 {
    background-color: DeepPink;
    /* color: DeepPink; */
    opacity: <%= fill_8_opacity %>;
    height: 100%;
    width: 100%;
    border: none;
    cursor: zoom-in;
    }

    .fill_8:hover {
        box-shadow: 0 0 50px DeepPink;
        /* color: white; */
        opacity: <%= fill_8_opacity %>;
        outline: none;
    }

    <% if @show.locations.where(color: "DarkOrange").count >= 9 %>
        <% fill_9_opacity = 1 %>
    <% elsif @show.locations.where(color: "DarkOrange").count >= 6 %>
        <% fill_9_opacity = .6 %>
    <% else %>
        <% fill_9_opacity = .3 %>
    <% end  %>

    /* <% fill_9_opacity = @show.locations.where(color: "DarkOrange").count * 0.1 %> */

    .fill_9 {
    background-color: DarkOrange;
    /* color: DarkOrange; */
    opacity: <%= fill_9_opacity %>;
    height: 100%;
    width: 100%;
    border: none;
    cursor: zoom-in;
    }

    .fill_9:hover {
        box-shadow: 0 0 50px DarkOrange;
        /* color: white; */
        opacity: <%= fill_9_opacity %>;
        outline: none;
    }

    .front_stage {
        color: lightgray;
    }

</style>

<div align="center">
    <img src="http://ryanmeinzer.com/s/waldude-logo.png" alt="Waldude Logo" class="logo" height="210" background-color="transparent">
<% if session[:attendee_id] %>
    <h2>🔍 <%= link_to "Find", shows_path, method: :get %> or ➕<%= link_to "Plan", plans_path, method: :get %></h2>

    Show #<%= link_to @show.id, show_path(@show), method: :get %> of <%= @show.artist.name  %> on <%= @show.stage.name %> Stage at <%= @show.date_time.strftime("%B %e, %l:%M %p") %>
</div>
<br>

<!-- <% if @show.attendees.count == 0 %>
    <p align="center">No Attendees ---> 
        <!-- <%= link_to "Plan to be here", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "Aqua").id}), method: :post %></p>
<% end %> -->

<div align="center" class="front_stage">FRONT STAGE</div>

<div class="grid">
    <% if @show.locations.where(color: "Red").any? %>
        <%= button_to "", show_location_attendees_path(@show.id, @show.locations.find_by(color: "Red").id), method: :get, class: "fill_1" %>
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= button_to "", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "Red").id}), method: :put, class: "unselected_fill_1" %>
    <% else %>
        <%= button_to "", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "Red").id}), method: :post, class: "unselected_fill_1" %>
    <% end %>
    <% if @show.locations.where(color: "Aqua").any? %>
        <%= button_to "", show_location_attendees_path(@show.id, @show.locations.find_by(color: "Aqua").id), method: :get, class: "fill_2" %>
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= button_to "", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "Aqua").id}), method: :put, class: "unselected_fill_2" %>
    <% else %>
        <%= button_to "", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "Aqua").id}), method: :post, class: "unselected_fill_2" %>
    <% end %>
    <% if @show.locations.where(color: "SaddleBrown").any? %>
        <%= button_to "", show_location_attendees_path(@show.id, @show.locations.find_by(color: "SaddleBrown").id), method: :get, class: "fill_3" %>
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= button_to "", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "SaddleBrown").id}), method: :put, class: "unselected_fill_3" %>
    <% else %>
        <%= button_to "", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "SaddleBrown").id}), method: :post, class: "unselected_fill_3" %>
    <% end %>
    <% if @show.locations.where(color: "DarkGreen").any? %>
        <%= button_to "", show_location_attendees_path(@show.id, @show.locations.find_by(color: "DarkGreen").id), method: :get, class: "fill_4" %>
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= button_to "", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "DarkGreen").id}), method: :put, class: "unselected_fill_4" %>
    <% else %>
        <%= button_to "", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "DarkGreen").id}), method: :post, class: "unselected_fill_4" %>
    <% end %>
    <% if @show.locations.where(color: "Yellow").any? %>
        <%= button_to "", show_location_attendees_path(@show.id, @show.locations.find_by(color: "Yellow").id), method: :get, class: "fill_5" %>
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= button_to "", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "Yellow").id}), method: :put, class: "unselected_fill_5" %>
    <% else %>
        <%= button_to "", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "Yellow").id}), method: :post, class: "unselected_fill_5" %>
    <% end %>
    <% if @show.locations.where(color: "Purple").any? %>
        <%= button_to "", show_location_attendees_path(@show.id, @show.locations.find_by(color: "Purple").id), method: :get, class: "fill_6" %>
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= button_to "", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "Purple").id}), method: :put, class: "unselected_fill_6" %>
    <% else %>
        <%= button_to "", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "Purple").id}), method: :post, class: "unselected_fill_6" %>
    <% end %>
    <% if @show.locations.where(color: "DarkBlue").any? %>
        <%= button_to "", show_location_attendees_path(@show.id, @show.locations.find_by(color: "DarkBlue").id), method: :get, class: "fill_7" %>
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= button_to "", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "DarkBlue").id}), method: :put, class: "unselected_fill_7" %>
    <% else %>
        <%= button_to "", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "DarkBlue").id}), method: :post, class: "unselected_fill_7" %>
    <% end %>
    <% if @show.locations.where(color: "DeepPink").any? %>
        <%= button_to "", show_location_attendees_path(@show.id, @show.locations.find_by(color: "DeepPink").id), method: :get, class: "fill_8" %>
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= button_to "", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "DeepPink").id}), method: :put, class: "unselected_fill_8" %>
    <% else %>
        <%= button_to "", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "DeepPink").id}), method: :post, class: "unselected_fill_8" %>
    <% end %>
    <% if @show.locations.where(color: "DarkOrange").any? %>
        <%= button_to "", show_location_attendees_path(@show.id, @show.locations.find_by(color: "DarkOrange").id), method: :get, class: "fill_9" %>
    <% elsif @show.plans.where(attendee_id: Attendee.last.id).exists? %>
        <%= button_to "", plan_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "DarkOrange").id}), method: :put, class: "unselected_fill_8" %>
    <% else %>
        <%= button_to "", plans_path(:plan => {attendee_id: Attendee.last.id, show_id: @show.id, location_id: Location.find_by(color: "DarkOrange").id}), method: :post, class: "unselected_fill_9" %>
    <% end %>
</div> <br>

<% else %>
<p>
    <a href="/auth/facebook">
        <img src="https://ryanmeinzer.com/s/facebook-login-button.png" alt="Login with Facebook" width="200"
            background-color="transparent">
    </a>
</p>
<h1>Find more of your friends by the saturation of each of the show's location colors (heatmaps).</h1>
<p align="center"><img src="https://ryanmeinzer.com/s/how-to.png" alt="How To" width="200"
        background-color="transparent"></p>
<h1>Plan where you'll be so your friends can find you at the show.</h1><br><br>
<% end %>