<style>

    a {
        color: black;
        /* text-decoration: none; */
    }
    a:hover {
        background-color: black;
        color: white;
    }

    .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    /* border: 3px solid black;  */
    }

    .button_to {
        /* background-color: white; */
        height: 120px;
        padding: 5px;
        /* border: 1.2px solid black;
        outline: 3px solid black; */
    }

    <% fill_color = @plan.location.color %>

    .selected_fill {
        background-color: <%= fill_color %>;
        height: 100%;
        width: 100%;
        border: none;
    }

    .unselected_fill_1, .unselected_fill_2, .unselected_fill_3, .unselected_fill_4, .unselected_fill_5, .unselected_fill_6, .unselected_fill_7, .unselected_fill_8, .unselected_fill_9  {
        height: 100%;
        width: 100%;
        border: none;
        background-color: #FAFAFA;
    }

    .unselected_fill_1:hover {
        background-color: Red;
        box-shadow: 0 0 50px Red;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_2:hover {
        background-color: Aqua;
        box-shadow: 0 0 50px Aqua;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_3:hover {
        background-color: SaddleBrown;
        box-shadow: 0 0 50px SaddleBrown;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_4:hover {
        background-color: DarkGreen;
        box-shadow: 0 0 50px DarkGreen;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_5:hover {
        background-color: Yellow;
        box-shadow: 0 0 50px Yellow;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_6:hover {
        background-color: Purple;
        box-shadow: 0 0 50px Purple;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_7:hover {
        background-color: DarkBlue;
        box-shadow: 0 0 50px DarkBlue;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_8:hover {
        background-color: DeepPink;
        box-shadow: 0 0 50px DeepPink;
        outline: none;
        cursor: cell;
    }

    .unselected_fill_9:hover {
        background-color: DarkOrange;
        box-shadow: 0 0 50px DarkOrange;
        outline: none;
        cursor: cell;
    }

    .front_stage {
        color: lightgray;
    }

</style>

<div align="center">
    <a href="/">
    <img src="http://ryanmeinzer.com/s/waldude-logo.png" alt="Waldude Logo" class="logo" height="210" background-color="transparent">
    </a>
<% if session[:attendee_id] %>
    <h2>🔍 <%= link_to "Find", shows_path, method: :get %> or ➕<%= link_to "Plan", plans_path, method: :get %></h2>

    <%= @plan.attendee.name %>'s Plan #<%= @plan.id %> for Show #<%= @plan.show.id %> at <%= @plan.location.name %> of <%= @plan.show.artist.name %> on <%= @plan.show.stage.name %> Stage at <%= @plan.show.date_time.strftime("%B %e, %l:%M %p") %>
</div>
<br>
<div align="center" class="front_stage">FRONT STAGE</div>

<div class="grid">
    <% if fill_color == "Red"  %>
        <%= button_to "", plan_path(@plan), method: :get, class: "selected_fill", disabled: true %>
    <% else %>
        <%= button_to "", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @plan.show.id, location_id: Location.find_by(color: "Red").id}), method: :put, class: "unselected_fill_1" %>
    <% end %>
    <% if fill_color == "Aqua"  %>
        <%= button_to "", plan_path(@plan), method: :get, class: "selected_fill", disabled: true %>
    <% else %>
        <%= button_to "", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @plan.show.id, location_id: Location.find_by(color: "Aqua").id}), method: :put, class: "unselected_fill_2" %>
    <% end %>
    <% if fill_color == "SaddleBrown"  %>
        <%= button_to "", plan_path(@plan), method: :get, class: "selected_fill", disabled: true %>
    <% else %>
        <%= button_to "", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @plan.show.id, location_id: Location.find_by(color: "SaddleBrown").id}), method: :put, class: "unselected_fill_3" %>
    <% end %>
    <% if fill_color == "DarkGreen"  %>
        <%= button_to "", plan_path(@plan), method: :get, class: "selected_fill", disabled: true %>
    <% else %>
        <%= button_to "", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @plan.show.id, location_id: Location.find_by(color: "DarkGreen").id}), method: :put, class: "unselected_fill_4" %>
    <% end %>
    <% if fill_color == "Yellow"  %>
        <%= button_to "", plan_path(@plan), method: :get, class: "selected_fill", disabled: true %>
    <% else %>
        <%= button_to "", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @plan.show.id, location_id: Location.find_by(color: "Yellow").id}), method: :put, class: "unselected_fill_5" %>
    <% end %>
    <% if fill_color == "Purple"  %>
        <%= button_to "", plan_path(@plan), method: :get, class: "selected_fill", disabled: true %>
    <% else %>
        <%= button_to "", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @plan.show.id, location_id: Location.find_by(color: "Purple").id}), method: :put, class: "unselected_fill_6" %>
    <% end %>
    <% if fill_color == "DarkBlue"  %>
        <%= button_to "", plan_path(@plan), method: :get, class: "selected_fill", disabled: true %>
    <% else %>
        <%= button_to "", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @plan.show.id, location_id: Location.find_by(color: "DarkBlue").id}), method: :put, class: "unselected_fill_7" %>
    <% end %>
    <% if fill_color == "DeepPink"  %>
        <%= button_to "", plan_path(@plan), method: :get, class: "selected_fill", disabled: true %>
    <% else %>
        <%= button_to "", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @plan.show.id, location_id: Location.find_by(color: "DeepPink").id}), method: :put, class: "unselected_fill_8" %>
    <% end %>
    <% if fill_color == "DarkOrange"  %>
        <%= button_to "", plan_path(@plan), method: :get, class: "selected_fill", disabled: true %>
    <% else %>
        <%= button_to "", plan_path(:plan => {attendee_id: session[:attendee_id], show_id: @plan.show.id, location_id: Location.find_by(color: "DarkOrange").id}), method: :put, class: "unselected_fill_9" %>
    <% end %>
</div> <br>

<% else %>
<p>
    <a href="/auth/facebook">
        <img src="https://ryanmeinzer.com/s/facebook-login-button.png" alt="Login with Facebook" width="200"
            background-color="transparent">
    </a>
</p>
<h1>🔍 Find more of your friends by the saturation of each of the show's location colors (heatmaps).</h1>
<p align="center"><img src="https://ryanmeinzer.com/s/how-to.png" alt="How To" width="200"
        background-color="transparent"></p>
<h1>➕ Plan where you'll be so your friends can find you at the show.</h1>
<div align="center">
    <img src="https://ryanmeinzer.com/s/home-how-to.png" alt="Home How To" width="200" background-color="transparent">
</div>
<% end %>