<!DOCTYPE html>
<html>
  <head>
    <title>Waldude</title>
    <meta name="description" content="ðŸ” Find more of your friends by the saturation of each of the show's location colors (heatmaps). âž• Plan where you'll be so your friends can find you at the show.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
